[submodule "modules"]
	path = modules
    url = https://github.com/antoinealb/modules/

[submodule "nios_files"]
	path = nios_files
	url = https://github.com/cvra/nios_files
[submodule "lwip"]
	path = lwip
	url = https://github.com/cvra/lwip_ucos2
